div {
    width: 30%;
    background-color: aquamarine;
    float: left;
    margin: 10px;
    height: 150px;
}

.first {
    text-align: left;
}

.second {
    text-align: center;
}

.third {
    text-align: right;
    clear: right;
}

body {
    background-image: url(IMG_20191017_151114.jpg);
    opacity: 0.6;
}

h1 {
    text-align: center;
    font-style: italic;
    color: darkolivegreen;
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-size: 20px;
    color: cornflowerblue;
    font-style: oblique;
}

span {
    font-size: 30px;
    color: crimson;
}

hr {
    width: 50%;
    height: 50px;
    color: blue;
}