body {
    direction: rtl;
    background-color: antiquewhite;
}

ul {
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
}

li>ul {
    font-size: 1em;
    font-weight: 200;
    color: blue;
    font-family: fantasy;
    text-decoration: none;
}

h1 {
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px -2px 2px cadetblue;
    letter-spacing: 8px;
    font-size: 300%;
}

a {
    text-decoration: none;
    color: royalblue;
}

a:hover {
    text-shadow: 2px 2px 3px grey;
}

li:hover {
    list-style: disc;
}

a:visited {
    color: black;
}